.Payment {
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  grid-row-gap: 1.5em;
  display: grid;
  background-color: var(--color2);
  color: var(--color3);
  padding: 10px;
  border-radius: 6px;
}
.Payment-back {
  margin: 10px 0 0 0;
}
.Payment-item {
  display: flex;
  align-items: center;
}
.Payment-item .fas {
  margin: 0 0 0 10px;
  color: rgba(0,0,0,0.4);
  cursor: pointer;
}
.Payment-item button {
  background-color: transparent;
  border: none;
  outline: none;
}
.Payment-element {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--color3);
}
.Payment-button{
  background-color: #00457c;
  justify-content: center;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: #008cff;
  font-weight: 900;
}

.Payment-button:hover{
  background-color: #008cff;
  color: #00457c;
}

.Payment-button2{
  background-color: #000000;
  justify-content: center;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 900;
}

.Payment-button2:hover{
  background-color: #1b1b1b;
}
